@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    DogGo
   <img src="https://thumbs.dreamstime.com/b/belgian-malinois-dog-jumping-running-silhouette-graphic-belgian-malinois-dog-jumping-running-silhouette-logo-123552492.jpg" alt="dog picture"/>
</div>
